*{
    font-family: poppins;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #9f9f9f;
}
header{
    background-color: #fcf7f7;
}
 header input,button{
    outline: lightblue;
    border: 2px solid #5d0c5d;
    border-radius: 10px;
    padding: 5px;
    color: purple;
    }
     button{
        background-color: #3f023f;
        color: aliceblue;
        margin: 5px;
    }

footer{
    background-color: #3f023f;
    margin-top: 0;
    
}
 